.card-header-icon {
  color: #ccc;
}

.card-header-icon:hover {
  color: #666;
}

.card-header-icon.is-active {
  color: red;
}

.card-image .poster {
  width: auto;
  height: 30rem;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  background: #fafafa;
}
